* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: #69503c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
}

#display-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dcdcdc;
  text-align: center;
  background-color: #1f2124;
  border: solid 2px #171718;
  border-radius: 65px;
  height: 260px;
  width: 260px;
}

.session-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.session-time div {
  width: 20px;
  margin: 5px;
}

.break-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.break-time div {
  width: 20px;
  margin: 5px;
}
#belt-up {
  background-color: #dcdcdc;
  border-right: 3px solid white;
  border-left: 3px solid white;
  width: 130px;
  height: 330px;
  margin-left: 65px;
}

#belt-down {
  background-color: #dcdcdc;
  border-left: 3px solid white;
  border-right: 3px solid white;
  width: 130px;
  height: 347px;
  margin-left: 65px;
  text-align: center;
  font-size: 70px;
}
.dot {
  padding-top: 40px;
}
